@import "variables";
@import "forms";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body.application {
	padding-top: 4em;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.room {
	
	position: relative;
	background: #fbfbfb;
    margin-top: 5px;

}

section {
	padding-bottom: 4%;
}

section#cover {
	height: 30em;
	background: #e7e7e7;

	.info {
		position: relative;

		h1, h2, h3, h4 {
		font-family: 'Poiret One', cursive;
		    position: absolute;
		    color: #fff;
		    top: 11.7em;
		    background: rgba(0,0,0,0.72);
		    padding: 4px 13px 7px 10px;
		    color: #afafaf;
		}

		.btn {
			position: absolute;
		    top: 27em;
		    right: 5px;
		}

		a {
			position: absolute;
			right: 5px;
		}
	}
}

section#gallery {
	background: #000;
	color: #fff;
}

p.description {
	color: #777;
}

#notice {
	color: green;
    text-align: center;
}


.img_gallery {
	
	img {
		height: auto;
		display: block;
	}

	.overlay {
	  position: absolute;
	  bottom: 0;
	  left: 100%;
	  right: 0;
	  background-color: #008CBA;
	  overflow: hidden;
	  width: 0;
	  height: 100%;
	  transition: .5s ease;
	}

	&:hover .overlay {
	  width: 100%;
	  left: 0;
	}
}

#mainNav {
	background: #2c3e50;
	border: 1px solid #34495e;


	a {
		color: #768798;	
		
		&:hover {
			color: #fff;
		}

	}

	.navbar-brand {
		font-family: 'Poiret One', cursive;
		font-weight: bold;
		color: orange;
	}

	.navbar-form {

		.form-group {
			position: relative;
		}
		
		input[type=text] {
			border: none;
			background: #34495e;	
		}

		button[type=submit] {
			position: absolute;
		    top: 2px;
		    right: -4px;
		    border: 0;
		    background: none;
		    color: #fff;
		}
	
	}


}


.img_gallery {
	
	position: relative;
	margin-top: 16px;

	.actions {
		position: absolute;
	    top: 2px;
	    right: 19px;

	    .btn {
		   	border: none;
		    color: #5f5c5c;
		    font-size: 1.5em;
		    padding-top: 8px;
		    background: rgba(0, 0, 0, 0.7);
		    border-radius: 0;
		    margin-top: 2px;

		    &:hover, &:active, &:focus {
		    	background: rgba(0,0,0,0.9)
		    }
		}

	}
	
}

.box_col {
	margin-top: 16px;
	background: #fff;
	height: 200px;
	position: relative;

	.btn {
		position: absolute;
		bottom: 12px;
		width: 92%;
	}

}

.box_info {
	span, i {
		color: #7c7c7c;
	}
}


.thumb {
	
	height: 9em;
    background-size: cover;
	
	img {
		position: absolute;
	    top: 0;
	    left: 0;
	    max-width: 100%;
	}
}


.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.box_add {
	
	i, span {
		color: #c4c4c4;
	}

	a, a:hover, a:active, a:focus {
		text-decoration: none;
		color: #c4c4c4;
	}
	
	&:hover, &:active, &:focus {
		a, a:hover, a:focus, a:active {
			text-decoration: none;
			color: #c4c4c4;
		}
	}
}


@media (max-width: 600px) { 
	section#cover {
		.info {
			h1, h2, h3, h4 {
				position: absolute;
			    top: 9em;
			    width: 100%;
			    text-align: center;
			}
		}
	}
}