<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<%= render('room_steps/step_progress', :locals => {@step_1 => 'complete', @step_2 => 'disabled', :step_3 => 'disabled', :step_4 => 'disabled' }) %>
 		<h3>Cadastrar Espaço</h3>
		<hr>
		<%= render 'form', room: @room %>
	</div>
</div>



