<p id="notice"><%= notice %></p>

<!-- <div class="row">
  <div class="col-md-10 col-md-offset-2">
    <span class="glyphicon glyphicon-map-marker"></span> <%= @room.city %>, <%= @room.country %>
    <text id="title_rating"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-half"></span></text>
  </div>
</div> -->

<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <strong>Sobre este espaço</strong>
  </div>
  <div class="col-md-7">
    <p class="description">
      <%= @room.description %>
    </p>
  </div>
</div>





 