<div class="row bs-wizard" style="border-bottom:0;">
        
    <div class="col-xs-3 bs-wizard-step <%= @step_1 %>">
        <div class="text-center bs-wizard-stepnum"><span class="glyphicon glyphicon-home"></span> Info</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <span class="bs-wizard-dot"></span>     
    </div>
                
            <div class="col-xs-3 bs-wizard-step <%= @step_2 %>"><!-- complete -->
                <div class="text-center bs-wizard-stepnum"><span class="glyphicon glyphicon-map-marker"></span> Local</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>           
            </div>
                
            <div class="col-xs-3 bs-wizard-step <%= @step_3 %>"><!-- complete -->
                <div class="text-center bs-wizard-stepnum"><span class="glyphicon glyphicon-user"></span> Contato</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
            </div>

         
</div>