<div class="row">
	<div class="col-md-8 col-md-offset-2">
	


  <p>Pronto! Você acaba de cadastrar seu Espaço Cowork!</p>
  <p>Agora você pode <%= link_to "adicionar fotos para o álbum da sala", new_room_photo_path(@room) %>!</p>
  Ou, pode <%= link_to "deixar para depois", next_wizard_path %> e visualizar seu Espaço.


   <%= link_to 'Voltar', previous_wizard_path %>
   
 </div>
</div>
